:root {
    --yasil: #53d153;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url('../assets/headerbg.jpg') center/cover;
}
nav { padding: 5px 30px; }
menu li { padding: 0 10px;}
menu li a {
    font: bold 1em 'Proxima Nova';
    color: #fff;
    white-space: nowrap;
}

#search  { display: flex; }
#search input, #search button  {
    border: 1px solid transparent;
    outline: none;
    padding: 0 1em;
    height: 27px;
    background: #ffffffcc;
}

#search input { border-radius: 1em 0 0 1em }
#search button  { border-radius: 0 1em 1em 0;}
#search button img { height: 18px;}

#title a {
    display: inline-block;
    font: 1.4em 'Proxima Nova';
    text-transform: uppercase;
    color: #fff;
    background: var(--yasil);
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 26px;
    transition: all .2s ease-in-out;
}

#title a:hover{
    border: 2px solid var(--yasil);
    background-color: #c8ff9c49;
}
menu, #search { flex: 1 1 40% }
#search { justify-content: end; }

#scroll { padding: 10px}
#scroll a {
    font: 1em 'Proxima Nova';
    color: #111;
    background: #ffffffb3;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid transparent;
}

main section { 
    padding: 40px 0;
    text-align: center;
}

h1 {
    font: 700 2em Montserrat;
    color: #fff;
}
h2 {
    font: 1.2em Montserrat;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #818181; 
}
h3 {
    font: bold 1.5em 'Proxima Nova';
    color: #818181;
    padding: 24px 0;
}
h6 {
    font: 1em 'Open Sans';
    color: #b3b3b3;
}

hr { 
    width: 43px;
    height: 2px;
    background: #818181;
    border: none
}

.bgyasil h2 { color: #207b20; }
.bgyasil h6 { color: #2b9b2b; }
.bgyasil hr { background: #207b20; }

.bgyasil { background: var(--yasil) }
.bgag { background: #fff }
.bgboz { background: #f1f1f1 }

#art3 {
    padding: 48px 0
}
#art3 article {
    padding: 24px 15px
}
#art3 a {
    display: inline-block;
    font: bold 1em 'Proxima Nova';
    color: #fff;
    background: var(--yasil);
    padding: 7px 20px;
    border-radius: 1em;
    margin: 20px 0 0 0
}

.iconfr { 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 140px;
    height: 140px;
    background: #e0f3e0;
    border-radius: 27px;
    margin: auto;
}
.iconfr i { 
    margin: auto;
    font-size: 4em;
    color: var(--yasil);
} 

#btn3 { 
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
#btn3 button, .btnd {
    font: 1em 'Proxima Nova';
    color: #2b9b2b;
    border: 1px solid #2b9b2b;
    background: #fff;
    padding: 5px 22px;
}
#btn3 button:first-child { border-radius:  1em 0 0  1em; }
#btn3 button:last-child { border-radius:  0 1em 1em 0; }
#btn3 button.active, #btn3 button:hover, .btnd {
    background: #2b9b2b;
    color: #fff
}

.btnd { 
    display: inline-block;
    border-radius:  1em;
    margin: 50px 0 0 0
}

#gallery img { 
    width: 100%;
    padding: .5em 1em;
}

#testimonal-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.testimonal-text {
    padding: 4em 1em;
}
.testimonal-text p:first-of-type {
    font: 1em 'Open Sans';
    color: #818181; 
    width: 75%;
    margin: auto;
}

.testimonal-text p:last-of-type {
    font: 1em 'Proxima Nova';
    display: inline-block;
    vertical-align: middle;
    color: #4c4c4c;
    margin-left: 1em;
}

.testimonal-text p:last-of-type span {
    display: block;
    font: 1em 'Open Sans';
    color: #818181;
}

.testimonal-text a {
    display: inline-block; 
    border: 2px solid #b4b4b4;
    padding: 1em;
    border-radius: 2em;
    margin: 2em 0 0 0;
}


#client h6 {
    margin-bottom: 2em;
}

#gallery-row img {
    width: 100%;
    height: 100px;
    filter: grayscale(100%);
    object-fit: contain;
    margin: 1em;
    padding: 10px;
}

#cards .card {
    padding: 1em;
    flex: 0 1 300px;
    margin: 1em;
    text-align: center;
    overflow: hidden;
}

#cards .card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#cards .card p {
    font: 1em 'Proxima Nova';
    color: #fff;
    margin: 1em 0;
}

#cards hr {
    width: 100px;
    height: 3px;
}

#cards .social {
    background-color: rgba(255, 255, 255, 0.621);
    border-radius: 1em;
    width: 100px;
    margin: auto;
}

#cards .social a {
    display: inline-block;
    padding: .5em;
    color: green;  
}
#workwithus {
    padding: 2em 0;
    text-align: center;
    background-color: #30b134;
}
#workwithus a {
    background: var(--yasil);
    color: #fff;
    padding: 1em 2em;
    border-radius: 1.5em; 
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    border: 2px solid transparent;
}

@media only screen and (min-width: 768px) {
    nav { 
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px;
    }
    menu { 
        order: -1;
        display: flex;
    }
    menu li a {
        font: bold 1em 'Proxima Nova';
        color: #fff;
        white-space: nowrap;
        position: relative; 
    }
    
    menu li a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -3px;
        left: 50%;
        background-color: var(--yasil);
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
    }
    
    menu li a:hover::after {
        width: 100%;
    }
    
    h1 { font-size: 3.4em;}

    #art3 { 
        display: flex; 
        justify-content: center;
    }

    #art3 article a {
        border: 1px solid transparent;
        transition: all .2s ease-in-out;
    }
    
    #art3 article a:hover {
        border: 1px solid var(--yasil);
        background-color: transparent;
        color: var(--yasil);    
    }

    #work a {
        border: 1px solid transparent;
        transition: all .2s ease-in-out;
    }
    #work a:hover {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;    
    }

    #art3 article { flex: 0 1 350px; }

    #btn3 button {
        transition: all .2s ease-in-out;   
    }
    #btn3 button:hover {
        background: #2b9b2b;
        color: #fff;
    }
    #gallery {
        max-width: 940px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #gallery img {
        width: 160px;
        height: 160px;
        object-fit: cover;
    }

    #gallery-row img {
        width: 180px;
        height: 90px;
        filter: grayscale(100%);
        object-fit: contain;
        margin: 1em;
        padding: 10px;
    }

    #cards {
        width: 1100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cards hr {
        width: 3px;
        height: 100px;
    }

    #workwithus a:hover {
        border: 2px solid var(--yasil);
        background: #ffffff00;
        /* color: var(--yasil);  */
        font-weight: bold;
    }
}